{% extends 'layout.html.twig' %}

{% block title %}
  {{ parent() }} - Accueil
{% endblock %}

{% block content %}
<h1>Bienvenue sur ce site vraiment super.</h1>
<p>Comme vous pouvez le voir, ce site est vraiment super.</p>
{% endblock %}

{# <!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bonjour</title>
    <link rel="icon" href="/assets/images/favicon.png">
    <link rel="stylesheet" href="/assets/css/styles.css">
</head>

<body>
    <h1>Hello {{ name }} !</h1>
</body>
</html> #}
